backed.tf
terraform-ansible-key.pem
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform/modules/docker_instance
.terraform/
.terraform/
.terraform/
.terraform/
.terraform/
.terraform.lock.hcl
.terraform/
